<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/curriculum.css'>
</head>
<body>
	<!-- Hola principal -->
	<div class="sheetWithBlur">
		<div class="sheet">
			<!-- Contenedor para el nombre -->		
			<div class="header">
				<img class="avatar" src="/images/profile.jpg">
				<h1>Jesús Javier Rojas Peña</h1>
				<pz>
					Tlf: 0412-510-7504 Mail: jesusrpx9@gmail.com
				</p>
			</div>
			<div class="content">
				<h3>
					<img src="images/icons/academic.svg" width="24px">
					Formación académica
				</h3>
					<div class="contentField">
						<b>Bachiller de la República</b>
						Sep, 2014 - Jul, 2019
						Unidad Educativa Nacional “Monseñor Enrique Rodriguez Alvares” “Los Flores”
						San Juan de Los Morros, Estado Guarico
						<br>
						<b>Ingeniería en Alimentos</b>
						Sep, 2019 - Presente, Actualmente en el 8 semestre
						Universidad Nacional Experimental “Simon Rodriguez”
						Nucleo: San Juan de Los Morros, Estado Guárico
						<br>
						<b>Ingeniería en Informatica</b>
						Oct, 2021 - Presente, Actualmente en el 4 semestre
						Universidad Nacional Experimental “Romulo Galle
					</div>
				<h3>
					<img src="images/icons/job.svg" width="24px">
					formación profesional
				</h3>

				<h3>
					<img src="images/icons/eye.svg" width="24px">
					Habilidades
				</h3>

				<h3>
					<img src="images/icons/hobbies.svg" width="24px">
					Hobbies
				</h3>
			</div>
		</div>
	</div>
</body>
</html>