<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/curriculum.css'>
</head>
<body>
	<!-- Hola principal -->
	<div class="sheetWithBlur">
		<div class="sheet">
			<!-- Contenedor para el nombre -->		
			<div class="header">
				<img class="avatar" src="/images/profile.jpg">
				<h1>Jesús Javier Rojas Peña</h1>
				<p>
					Tlf: 0412-510-7504 Mail: jesusrpx9@gmail.com
				</p>
			</div>
			<div class="content">
				<p>
					<img src="images/icons/academic.svg" width="24px">
					Formación académica
				</p>
				
				<p>
					<img src="images/icons/job.svg" width="24px">
					formación profesional
				</p>

				<p>
					<img src="images/icons/eye.svg" width="24px">
					Habilidades
				</p>

				<p>
					<img src="images/icons/hobbies.svg" width="24px">
					Hobbies
				</p>
			</div>
		</div>
	</div>
</body>
</html>