<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/curriculum.css'>
</head>
<body>
	<div class="fondo">
		<!-- Hola principal -->
		<div class="sheetWithBlur">
			<div class="sheet">
				<!-- Contenedor para el nombre -->		
				<div class="header">
					<img class="avatar" src="/images/profile.jpg">
					<h1>Jesús Javier Rojas Peña</h1>
					<p>C.I: 30.160.347</p>
					<p>
						Tlf: +58412-510-7504      Mail: jesusrpx9@gmail.com      Venezuela, San Juan de los Morros
					</p>
				</div>
				<div class="content">
					<!-- Personal formation -->
					<div>
						<h3>
							<img src="images/icons/job.svg" width="24px">
							Formación Profesional
						</h3>
						<p>Junio 2022 - Actualidad, Programador en el area de Desarrollo Web en <b>Sistemas Tecnológicos Álcaravan</b> 	
						</p>
						<p>Febrero - Mayo 2021, Personal de Control de Calidad en <b>Empaquetadora de Alimentos CORA2S</b> 	
						</p>
					</div>
					
					<!-- Academic formacion -->
					<div>
						<h3>
							<img src="images/icons/academic.svg" width="24px">
							Formación Académica
						</h3>
						<p><b>Ingeniería en Informática</b>
						Octubre 2021 - Actualidad.
						Universidad Nacional Experimental "Romulo Gallegos"</p>
						<br>
						<p><b> Ingeniería en Alimentos</b>
						Septiembre 2019 - Actualidad.
						Universidad Nacional Experimental "Simon Rodriguez"</p>
						<br>
						<p><b>Bachiller en Ciencias</b>
						Septiemebre 2014 - Julio 2019
						Unidad Educativa Nacional “Monseñor Enrique Rodriguez Alvares” “Los Flores”
						San Juan de Los Morros, Estado Guarico</p>
					</div>

					<!-- Habilitys -->
					<div>
						<h3>
							<img src="images/icons/eye.svg" width="24px">
							Habilidades
						</h3>
						<div class="dashboard">
							<div class="miniCard">
								<div class="miniCardHeader">
									Python
								</div>
								<div class="miniCardContent">
									Avanzado
								</div>
							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									Javascript
								</div>
								<div class="miniCardContent">
									Intermedio
								</div>
								
							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									HTML
								</div>
								<div class="miniCardContent">
									Intermedio
								</div>
							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									CSS
								</div>
								<div class="miniCardContent">
									Intermedio
								</div>
							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									SQL
								</div>
								<div class="miniCardContent">
									Básico
								</div>
							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									Django
								</div>
								<div class="miniCardContent">
									Básico
								</div>
							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									Odoo
								</div>
								<div class="miniCardContent">
									Intermedio
								</div>
							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									Word
								</div>
								<div class="miniCardContent">
									Avanzado
								</div>

							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									PowerPoint
								</div>
								<div class="miniCardContent">
									Avanzado 
								</div>
							</div>

							<div class="miniCard">
								<div class="miniCardHeader">
									Ingles
								</div>
								<div class="miniCardContent">
									B2
								</div>
							</div>
						</div>						
					</div>

					<!-- hobbies -->
<!-- 					<div>
						<h3>
							<img src="images/icons/hobbies.svg" width="24px">
							Hobbies
						</h3>
						<div class="dashboard">
							<div class="miniCard">
								<div class="miniCardHeader">
									Boxeo
								</div>
								<div class="miniCardContent">
									Intermedio
								</div>
							</div>
							<div class="miniCard">
								<div class="miniCardHeader">
									Calistenia
								</div>
								<div class="miniCardContent">
									Intermedio
								</div>
							</div>
							<div class="miniCard">
								<div class="miniCardHeader">
									Boxeo
								</div>
								<div class="miniCardContent">
									Intermedio
								</div>
							</div>
						</div>
					</div>
 -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>