<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/curriculum">Ver Curriculum</a></li>
          <li><a href="/contact">Contactar</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Jesús Rojas</h2>
        </div>
        <div class="card-body">
          <p id="Parrafo">CI: CI:30.160.347</p>
          <p id="Parrafo">Programación 2 - sección 1</p>
        </div>
      </div> 
    </div>
  </body>
</html>
