<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <li><a href="/curriculum">Ver Curriculum</a></li>
      </ul>
    </nav>

    <div class="card">
      <div class="card-header">
        <h2><%= title %></h2>
      </div>
      <div class="card-body">
        <p id="Parrafo">Jesús Rojas - CI:30.160.347</p>
        <p id="Parrafo">Sección 1</p>
      </div>
    </div>
  </body>
</html>
