<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="container-background">
      <h1 id="Titulo"><%= title %></h1>
      <p id="Parrafo">Jesús Rojas - CI:30.160.347</p>
      <p id="Parrafo">Sección 1</p>
    </div>
  </body>
</html>
