:root{
  /* Purple */
  --purple-20: #d5c8fb;
  --purple-40: #aa8df8;
  --purple-60: #895ef7;
  --purple-80: #6438e0;
  --purple-100: #443276;
  /* Pink */
  --color-20: #f8cae8;
  --color-40: #ff97da;
  --color-60: #ff61c7;
  --color-80: #ff22b1;
  --color-100: #88145f;
  /* Indigo */
  --indigo-20: #c3cffa;
  --indigo-40: #879df2;
  --indigo-60: #6a84ed;
  --indigo-80: #4461d7;
  --indigo-100: #323e9c;
  /* Blue */
  --blue-20 #a3e0fc;
  --blue-40: #63c0f9;
  --blue-60: #4da2f8;
  --blue-80: #3d8aed;
  --blue-100: #2b59ab;
  /* Teal */
  --teal-20: #82ebf1;
  --teal-40: #82ebf1;
  --teal-60: #1fcbdc;
  --teal-80: #0390a9;
  --teal-100: #005c6f;
  /* Green */
  --green-20: #baf8dd;
  --green-40: #85f1b8;
  --green-60: #79e3aa;
  --green-80: #59c894;
  --green-100: #518d7b;
  /* Yellow */
  --yellow-20: #ffeab6;
  --yellow-40: #ffd56a;
  --yellow-60: #ffc63c;
  --yellow-80: #feb51f;
  --yellow-100: #ce8d4f;
  /* Orange */
  --orange-20: #ffcfb7;
  --orange-40: #ff9c73;
  --orange-60: #ff7641;
  --orange-80: #f45721;
  --orange-100: #ac241b;
  /* Red */
  --red-20: #fba7bf;
  --red-40: #ff7e98;
  --red-60: #f03063;
  --red-80: #8d0217;
  --red-100: #8d0217;
  /* Brown */
  --brown-20: #e9b78c;
  --brown-40: #d47a3c;
  --brown-60: #ca6419;
  --brown-80: #b74d00;
  --brown-100: #703713;
  /* Slate */
  --slate-20: #727491;
  --slate-40: #494e6a;
  --slate-60: #373753;
  --slate-80: #1d1c39;
  --slate-100: #0b0e1f;
  /* Nuetral */
  --neutral-20: #f5f7fa;
  --neutral-40: #e7ebf1;
  --neutral-60: #d6dee7;
  --neutral-80: #c5cada;
  --neutral-100: #a7acc5;

}