@import "colors.css";
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/

*{
	font-family: 'Montserrat', sans-serif;
}
.sheetWithBlur{
/*	filter: blur(5px);*/
}

/*Hoja principal*/
.sheet{
	margin: 60px;
	border: 1px solid var(--Arandano-900);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--Plata-100);
	box-shadow: 
		5px 5px 5px var(--Pizarra-300), 
		-5px -5px 5px var(--Pizarra-300);
}

/*imagen que esta dentro de la cabezera*/
.avatar {
	margin: 5px;
	width: 130px auto; /* Ancho deseado */
  	height: 130px; /* Altura deseada */
 	border-radius: 50%;
 	border: 3px solid var(--Fresa-700);
 	box-sizing: border-box;
}

/*Cabezera*/
.header {
	position: relative;
/*	border: 1px solid var(--Pizarra-900);*/
	color: var(--Plata-500);
	background-color: var(--Pizarra-900);
	height: 250px auto;
	width: 100%;
	text-align: center;
  	box-sizing: border-box;
}

/*Contenido*/
.content{
	margin: 15px;
	padding: 10px;
	border: 1px solid var(--Fresa-900);
	height: 250px auto;
	width: 90%;
	box-sizing: border-box;
}