@import "colors.css";
@import "navbar.css";

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/

*{
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("/images/bg_lunarground.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

header{
    padding: 1em;
    display: flex;
    flex-direction: column;
}
/*.navbar {
    padding: 5px;
    margin: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--neutral-60);
    border-radius: 10px;
    padding: 5px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar li{
    display: inline-block
}

.navbar a {
    display: flex;
    position: relative;
    color: var(--neutral-40);
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

.navbar a:hover {
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: var(--neutral-40);
    transition: 0.5s;
}
*/

/* 

    HOJA PRINCIPAL 

*/
.sheet {
    color: var(--neutral-20);
    margin: 60px;
    border: 1px solid var(--slate-100);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 4em var(--blue-60);
}

/* imagen que esta dentro de la cabezera */
.avatar {
    margin: 1em;
    width: 130px auto;
    height: 130px;
    border-radius: 50%;
    border: 4px solid var(--neutral-60);
    box-sizing: border-box;
}

/* 

    CABEZERA 

*/
.header {
    position: static;
    color: var(--neutral-60);
    background-color: var(--slate-100);
    height: auto;
    width: 100%;
    text-align: center;
    box-sizing: content-box;
}

/* 

    CONTENIDO

*/
.content {
    margin: 1em;
    padding: 0.5em;
    height: 250px auto;
    width: 90%;
    box-sizing: border-box;
}

.textContent {
    margin: 2.5em;
    text-align: justify;
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

/*

    TARJETAS

*/

/* Tarjeta */
.miniCard {
    border: 2px solid var(--slate-40);
    border-radius: 8px;
    width: 125px;
    margin: 10px;
    box-sizing: border-box;
}

.miniCard:hover {
    box-shadow: 
        8px 8px 8px var(--blue-60), 
        -8px -8px 8px var(--blue-60);
    transition: 0.5s ease;
}

/* Cabezera de tarjeta */
.miniCardHeader {
    position: relative;
    color: var(--neutral-60);
    height: auto;
    width: auto;
    background-color: var(--slate-40);
    text-align: center;
    padding: 0.5em;
}

/* Contenido de la tarjeta */
.miniCardContent {
    text-align: center;
    padding: 1em;
}