@import "colors.css";
@import "navbar.css";
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/

*{
    font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url("/images/bg.png");
  background-size: cover;
/*  color:var(--Plata-100);*/
  color: var(--neutral-40);
}

.card {
  margin: 1em;
  padding: 1em;
  border: 1px solid var(--neutral-20);
  border-radius: 10px;
  height: auto;
  width: 40%;
  box-sizing: content-box;
  backdrop-filter: blur(10px);
}

.card:hover{
  transition: all 0.5s ease;
  box-shadow: 0 0 15px var(--green-60);
}

.container {
  display: flex;
  flex-direction: column;
}

.card-header {
  padding: 1em;
}

.card-body {
  padding: 1em;
}

/*.card-header, .card-body {
  flex-grow: 1;
}*/



.contentField{
  color: var(--slate-100);
}

.titlePersonal{
  color: var(--blue-100);
}
